/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 0;
}

p, h1, h2, h3, h4, h5, h6, a, span {
  font-size: 3.5mm;
}

html {
  font-size: 3.5mm;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  color: #43739b;
}

h1 {
  font-weight: 200;
  font-size: 10.5mm;
  line-height: 17.5mm;
  text-indent: 3.5mm;
}

h3 {
  font-weight: 400;
  font-size: 5mm;
  margin: 0 3.5mm;
  border-bottom: .5mm solid;
}

p {
  font-family: "Roboto", sans-serif;
  text-indent: 3.5mm;
  padding: 0 3.5mm;
}

/* Main styles */
#wrapper {
  display: block;
  margin: 0 auto;
  width: 190mm;
  height: 277mm;
  background: #f2f2f2;
  outline: 1px dashed red;
  padding: 10mm;
}

@media print {
  #wrapper {
    padding: 0;
    background-image: none;
    background-color: transparent;
  }
}

header, main, footer {
  display: inline-block;
  width: 180mm;
  margin-left: 10mm;
  outline: 1px dashed red;
}

#photo {
  display: inline-block;
  vertical-align: top;
  width: 60mm;
  height: 60mm;
  outline: 1px dashed red;
}

#info {
  display: inline-block;
  vertical-align: top;
  width: 120mm;
  height: 60mm;
  outline: 1px dashed red;
}

#about, #credits {
  display: inline-block;
  vertical-align: top;
  width: 60mm;
  outline: 1px dashed red;
}
