<!DOCTYPE html>
html(lang="en")
	include head
	body
		#wrapper
			header
				#photo
					#profilephoto
				#info
					h1#name Dmytro Skydanenko
					#about
						//-h3 Motto
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ratione perferendis iure commodi excepturi non quidem maiores explicabo dignissimos sequi.
					#credits
						//-h3 Info
						span.cred.birth 1984/12/24
						span.cred.location Visaginas, LT
						//-h3 Contact me:					
						span.cred.cell +370 (657) 434 26 (LT)
						//-span.cred.cell +380 (67) 550 53 50 (UA)
						span.cred.email dmytro.skydanenko@gmail.com
						span.cred.skype skidann
			main
				aside
					h4 skills
					span.skill Vector CG
					span.skill Bitmap CG
					span.skill Logo design
					span.skill CSS3 + SCSS
					span.skill HTML (5/strict) + Pug(ex. Jade)
					span.skill ES5 (Java Script)
					span.skill jQuery
					h4 Software
					span.skill MS Office (Wd/Ex/Pp)
					span.skill Windows / Linux
					span.skill Adobe Photoshop
					span.skill Adobe Illustrator
					span.skill CorelDraw
					span.skill Autodesk Inventor
					span.skill SolidWorks
					span.skill Kompas 2D/3D
					h4 languages
					span.skill.ru Русский (C1)
					span.skill.ua Українська (C1)
					span.skill.en English (B1)
					span.skill.lt Lietuvių (B1)
					
				section
					article#exp
						h2 Work expirience
					article#educ
						h2 Education
					article#cert
						h2 Certificates and accomplishments
			footer
		script(src="js/style.js")