<!DOCTYPE html>
html(lang="en")
	include head
	body
		#wrapper
			header
				#photo
					#profilephoto
				#info
					h1#name Dmytro Skydanenko
					#about
						//-h3 Motto
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ratione perferendis iure commodi excepturi non quidem maiores explicabo dignissimos sequi.
					#credits
						//-h3 Info
						span.cred.birth 1984/12/24
						span.cred.location Visaginas, LT
						//-h3 Contact me:					
						span.cred.cell +370 (657) 434 26 (LT)
						//-span.cred.cell +380 (67) 550 53 50 (UA)
						span.cred.email dmytro.skydanenko@gmail.com
						span.cred.skype skidann
			main
				aside
					h3 skills
					.skill
						span office
						.meter
					.skill
						span css/scss
						.meter
				section
					article#exp
						h2 Work expirience
					article#educ
						h2 Education
					article#cert
						h2 Certificates and accomplishments
			footer
		script(src="js/style.js")