DOCTYPE html
html(lang="en")
	include _head
	body
		#wrapper
			header
				#photo
					#profilephoto
				#info
					h1#name Dmytro Skydanenko
					#about
						p.en.hidden Position applied for:
						h3.en.hidden Quality manager
						//-p.en (in Visaginas factory)
						p.lt Pareigos:
						h3.lt ITS KTI
						//-p.lt (Intersurgical padalinyje Visagine)
					#credits
						//-h3 Info
						//-span.cred.birth 1984-12-24
						span.cred.location.en.hidden Visaginas, Lithuania
						span.cred.location.lt Visaginas, LT
						span.cred.location.ru.hidden Висагинас, Литва (вид на жительство)
						//-h3 Contact me:					
						span.cred.cell +370 (657) 43426
						span.cred.cell.hidden +380 (67) 550 53 50 (UA)
						span.cred.email dmytro.skydanenko@gmail.com
						span.cred.skype.hidden skidann

			main
				aside
					h4.en.hidden Skills
					h4.lt Įgūdžiai
					//- span.skill.full.en Passionate about self-studying
					//- span.skill.three-quarters.en Process optimization
					span.skill.lt.full.hidden KG dizainas (vektorinis/rastrinis)
					span.skill.full.hidden HTML (5/strict) + Pug(ex. Jade)
					span.skill.full.hidden CSS3 + Sass/SCSS
					
					span.skill.three-quarters.hidden Gulp
					span.skill.three-quarters.hidden Git
					span.skill.three-quarters.hidden ES5/6 (JavaScript) / jQuery
					
					span.skill.lt.half.hidden SQL
					span.skill.lt.one-quarter.hidden ASP.NET Core (C#)
					span.skill.one-quarter.hidden Vue JS
					span.skill.one-quarter.hidden php (basics)
					
					span.skill.lt.check Procesų optimizavimas
					span.skill.lt.check Darbų koordinavimas
					span.skill.lt.check Darbas komandoje
					span.skill.lt.check Savimoka ir tobulejimas
					span.skill.en.check.hidden Workflow optimization
					span.skill.en.check.hidden Task distribution
					span.skill.en.check.hidden Team work
					span.skill.en.check.hidden Self-studying
					span.skill.en.check.hidden Tasks planning (ex.: Trello)
					
					span.skill.lt.three-quarters.hidden WebDev
					//- span.skill.full.en CG design (vector/raster)
					//- span.skill.three-quarters.en Project redesign/adaptation
					//- span.skill.three-quarters.en Responsive mobile-first design
					//- span.skill.half.en SVG optimization / animation
					//-span.skill.en SVG animation
					//- span.skill.half.en SVG backward compatibility
					//-span.skill Bitmap CG
					//-span.skill Logo design
					span.skill.half.hidden Bootstrap
					//-span.skill Node.js
					
					
					h4.en.hidden Software
					h4.lt Programinė įranga
					h4.ru.hidden Программное обеспечение
					span.skill.full Windows
					span.skill.three-quarters GNU/Linux
					span.skill.full MS Office (+ VBA scripts)
					span.skill.full CorelDraw + Inkscape
					span.skill.full Adobe Photoshop + GIMP
					span.skill.half Adobe Illustrator
					
					span.skill.half.hidden GIMP/Inkscape
					span.skill.three-quarters Autodesk Inventor
					span.skill.half SolidWorks
					//-span.skill Kompas 2D/3D
					h4.en.hidden Languages
					span.skill.full.en.hidden Russian (native)
					span.skill.full.en.hidden Ukrainian (native)
					span.skill.three-quarters.en.hidden English (B1)
					span.skill.three-quarters.en.hidden Lithuanian (B1, cert. II cat.)
					h4.lt Kalbos
					span.skill.half.lt Lietuvių (II-ji valst. kat. (B1))
					span.skill.half.lt Anglų (B1)
					span.skill.full.lt Rūsų (gimtoji)
					span.skill.full.lt Ukrainiečių (gimtoji)

					h4.en.hidden passionate about:
					span.skill.en.three-quarters.hidden WebDev
					span.skill.en.half.hidden Software engineering
					span.skill.en.half.hidden UX/UI improving
					span.skill.en.half.hidden Digital devices prototyping using microcontroller-based modules (Arduino, Raspberry, etc.)
					
					h4.lt.hidden Asmeninės savybės
					span.skill.check.lt.hidden Atsakingumas
					span.skill.check.lt.hidden Kruopštumas
					span.skill.check.lt.hidden Punktualumas
					span.skill.check.lt.hidden Neturių žalingų įpročių
					
				section
					article#objective.en.hidden
						h2 Objective
						span.objhead As an enthusiastic front-end developer I'm passionate about next...
						dl
							dt Markup skills:
							dd
								span.blockpos Mobile-first + adaptive + responsive layouts (grid / flex / block);
								span.blockpos Print-optimized static layouts for *.pdf-s incl. cutouts / bleeds / print offsets (block / table markup);
							dt Design:
							dd
								span.blockpos Usability-oriented and accessibility-friendly markup and design enthusiast;
								span.blockpos Adapting any type of product (part, element) according to whole project design concept;
							dt Preferred technologies / tools:
							dd
								span.blockpos CSS3 (with Sass / SCSS) - confident;
								span.blockpos HTML (with Pug.js) - confident;
								span.blockpos vanilla JS ES5/6 - confident;
								span.blockpos Vue.JS - enthusiast beginner :)
							dt Last work:
							dd
								a(href="https://padekman.lt/" target="_blank").externallink http://padekman.lt
					
					article#objective.lt
						h2 Tikslas
						span.objhead Ieškau darbą IT srityje
						dl
							
							dt Esu programinės įrangos inžinerius (universitėtinis bakalauras)
							dd • .NET + ASP.NET Core (C#); Java 11; C++;#[br]• ES6 + Vue.js; HTML/CSS + SCSS/Pug.js;#[br]• MySQL; MariaDB; MS SQL Server + Transact-SQL;
					
					article#objective.en.hidden
						h2 Objective
						span.objhead To get a position of Quality Manager in strong company
						dl
							dt Why me? 'Cause I am:
							dd
								span.blockpos • Passionate to optimize and automate whatever I meet in life;
								span.blockpos • Open-minded person with ability and strong will to learn;
								span.blockpos • Demanding to myself and to others as well;
								span.blockpos • Hardworking and result-oriented;

							

					article#exp
						h2.en.hidden Work experience
						h2.lt Darbo patirtis
						dl
							//- LT
							dt.position.lt Kokybės vadybininkas
							dd.posdescr.lt
								span.company Umega Group, AB
								span.country Utena, LT
								span.years 2019.10 - Dabar
								span.description • Įmonės darbo procesų optimizavimas; #[br] • Galutinės lankos kokybės patikra; #[br] • Darba su reklamacijas; #[br] • Produkcijos atitikties reglamentams ir standartams patikrinimas; #[br] • Vidinis kokybes auditas.

							dt.position.lt Technologijos inžinerius
							dd.posdescr.lt
								span.company Umega Group, AB
								span.country Utena, LT
								span.years 2016.10 - 2019-10
								span.description • Technologinio proceso ir kokybės išlaikymo gamyboje užtikrinimas; #[br] • Produkcijos paruošymo europinio sertifikavimui (EU 167/2013 reg.) darbų koordinacija ir tikrinimas gamyboje; #[br] • Bandymai, darbas su brėžinių/dokumentaciją, jų tvarkymas. #[br] • Įmonės informacinio sistemos derinimas / tvarkymas (VBA); #[br] • Judėjimo sertifikato (EUR.1 formos) paruošimas.
							//- EN

							dt.position.en.hidden Quality Manager
							dd.posdescr.en.hidden
								span.company Umega Group, AB
								span.country Lithuania, Utena
								span.years 2019.10 - Present
								span.description • Workflow optimization; #[br] • Ensuring end-stage production quality; #[br] • Work with customer claims and internal technical issues; #[br] • Ensuring production relevance to appropriate regulations and standarts; #[br] • Improving methods of products uniformity ensuring.

							dt.position.en.hidden Technologist
							dd.posdescr.en.hidden
								span.company Umega Group, AB
								span.country Lithuania, Utena
								span.years 2016.10 - 2019.10
								span.description • Technical documentation's preparation for vehicle EU type sertification; #[br] • technical documentation creation and improvement, resolving of technical issues.
								
							//- LT
							dt.position.lt Tiekimo skyriaus vadybininkas
							dd.posdescr.lt
								span.company Nova Poshta, LLC
								span.country Poltava, UA
								span.years 2013.08 - 2015.02
								span.description • Rinkodaros paslaugų tiekimas, pakavimo medžiagų užsakymas, pristatymo koordinacija; #[br] • Tenderių organizavimas. Rebrendingo darbų koordinacija ir atliekimo priežiūrą (apie 2000 ofisų + automobiliai). Įmonės logistikos schemos optimizavimas. 
							//- EN
							dt.position.en.hidden Procurement Manager
							dd.posdescr.en.hidden
								span.company Nova Poshta, LLC
								span.country Ukraine, Poltava
								span.years 2013.08 - 2015.02
								span.description • Procurement and purchasing of consumable materials; #[br] • Curation on rebranding of company's offices, warehouses, trucks, etc.#[br] • Optimization of company's procurement logistics.
							//-.logo
							//- EN
							dt.position.en.hidden CG Designer
							dd.posdescr.en.hidden
								span.company PrintShop "Format"
								span.country Ukraine, Poltava
								span.years 2009.04 - 2013.08
								span.description Polygraphy design ang production; post-print working; web-design; damaged photo treatment.
							//- LT
							dt.position.lt Kompiuterinės grafikos dizaineris
							dd.posdescr.lt
								span.company Spaustuvė "Format"
								span.country Poltava, UA
								span.years 2009.04 - 2013.08
								span.description.hidden Poligrafinės produkcijos maketavimas, paruošimas ir spaudos darbai; darbai po spaudinimo; stinkalapių kurimas.
								
							//-.logo
							//- EN
							dt.position.en.hidden Mechanics engineer
							dd.posdescr.en.hidden
								
								span.company ProfSteel Project, LLC
								span.country Ukraine, Poltava
								span.years 2007.09 - 2008.08
								span.description.en Assembling, installing and adjusting of metal profiling mills; Directing on equipment reconditioning.
							//- LT
							dt.position.lt Mechanikos inžinerius
							dd.posdescr.lt
								
								span.company ProfSteel Project, LLC
								span.country Poltava, UA
								span.years 2007.09 - 2008.08
								span.description.lt.hidden Metalo profiliavimo įrangos surinkimas, montavimas ir derinimas; įmonės įrangos techninė priežiūrą ir remonto darbų organizavimas.
					article#educ
						h2.lt Išsilavinimas
						h2.en.hidden Education
						dl
							//- dt #[i.fa.fa-free-code-camp] freeCodeCamp
							//- dd
							//- 	span.spec Full Stack Web Development Certification (Software Dev.)
							//- 	span.years 2017 - now
							dt.en.hidden #[i.fa.fa-university] Kharkiv National University of Radio Electronics
							dd.en.hidden
								span.spec Bachelor of Software Engineering
								span.years 2018 - now (grad. 2020)

							dt.lt #[i.fa.fa-university] Charkovo Nacionalinis Radijoelektronikos Universitetas
							dd.lt
								span.spec Programinės įrangos inžinerijos bakalauras
								span.years 2018 - 2020

							dt.en.hidden #[i.fa.fa-university] Poltava National Technical University
							dd.en.hidden
								span.spec Bachelor of Engineering (electromechanical automatization systems and electric drive)
								span.years 2002 - 2010

							dt.lt #[i.fa.fa-university] Poltavos Nacionalinis Techninis Universitetas
							dd.lt
								span.spec Elektromechanikos inžinerijos bakalauras
								span.years 2002 - 2010
								
					

					article#cert.hidden
						h2 Sertifikatai ir kursai
						span.objdesc Advanced&nbsp;SVG&nbsp;Animation | Motion&nbsp;Design&nbsp;with&nbsp;CSS | UX&nbsp;Foundation:&nbsp;Accessibility | User&nbsp;Experience&nbsp;for&nbsp;Web&nbsp;Designers
						dl
							dt #[i.fa.fa-id-card-o] Basinės pneumatinių stabdžių sistemos ir ABS sistemos sunkvežiams ir priekabams
							dd.place WABCO akademija / Vilnius
								span.years Bal. 2018
						//- dl
						//- 	dt #[i.fa.fa-id-card-o] Adobe Photoshop CS3 specialist (Cert.Id: 231923)
						//- 	dd.place Baumann's Moscow State Technical College 
						//- 		span.years 2010
						//- dl
						//- 	dt.hidden #[i.fa.fa-id-card-o] Basic pneumatic brake systems and ABS systems for trucks and trailers
						//- 	dd.place.hidden WABCO academy / Vilnius
						//- 		span.years Apr. 2018 - Present
								
						//- 	dt #[i.fa.fa-id-card-o] The Complete JavaScript Course 2018
						//- 	dd.place by Jonas Schmedtmann
						//- 		//- span.years 2018
						//- 	dt #[i.fa.fa-id-card-o] The Web Developer Bootcamp
						//- 	dd.place by Colt Steele
						//- 		//- span.years 2018
					article#links
						a(href="https://www.linkedin.com/in/skydanenko/" target="_blank").externallink.en.hidden Details on #[i.fa.fa-linkedin-square] LinkedIn #[i.fa.fa-external-link] www.linkedin.com/in/skydanenko
						a(href="https://www.linkedin.com/in/skydanenko/" target="_blank").externallink.lt Išsamiau čia #[i.fa.fa-linkedin-square] LinkedIn #[i.fa.fa-external-link] www.linkedin.com/in/skydanenko
			//- footer 
		script(src="js/style.js")