DOCTYPE html
html(lang="en")
	include _head
	body
		#wrapper
			header
				#photo
					#profilephoto
				#info
					h1#name Dmytro Skydanenko
					#about
						p.en Position applied for:
						h3.en Jn. front-end dev.
						//p.en (in Visaginas factory)
						p.lt.hidden Pareigos:
						h3.lt.hidden Gamybos srauto technologas / inžinierius
						//-p.lt (Intersurgical padalinyje Visagine)
					#credits
						//-h3 Info
						//span.cred.birth 1984-12-24
						span.cred.location.en Visaginas, LT (residence permit)
						span.cred.location.lt.hidden Visaginas, LT (leidimas gyventi)
						span.cred.location.ru.hidden Висагинас, Литва (вид на жительство)
						//-h3 Contact me:					
						span.cred.cell +370 (657) 434 26 (LT)
						span.cred.cell +380 (67) 550 53 50 (UA)
						span.cred.email dmytro.skydanenko@gmail.com
						span.cred.skype skidann
			main
				aside
					h4.en Skills
					h4.lt.hidden Įgūdžiai
					span.skill.en Passionate about self-studying
					span.skill.en Process optimization
					span.skill.lt.hidden KG dizainas (vektorius/rastras)
					span.skill.lt.hidden WebDev
					span.skill.en CG design (vector/raster)
					span.skill.en Project redesign/adaptation
					span.skill.en Responsive mobile-first design
					span.skill.en SVG optimization / animation
					//span.skill.en SVG animation
					span.skill.en SVG backward compatibility
					//span.skill Bitmap CG
					//span.skill Logo design
					span.skill CSS3 + Sass/SCSS
					span.skill HTML (5/strict) + Pug(ex. Jade)
					span.skill Bootstrap
					span.skill php (basics)
					span.skill ES5/6 (JavaScript) / jQuery
					span.skill Vue JS
					span.skill Gulp
					span.skill Git
					span.skill Trello
					//span.skill Node.js
					
					span.skill.lt.hidden Procesų optimizavimas
					h4.en Software
					h4.lt.hidden Programinė įranga
					h4.ru.hidden Программное обеспечение
					//span.skill MS Office (Wd/Ex/Pp)
					//span.skill Windows / Linux
					span.skill Adobe Photoshop
					span.skill Adobe Illustrator
					span.skill CorelDraw
					span.skill GIMP/Inkscape
					span.skill Autodesk Inventor
					span.skill SolidWorks
					//span.skill Kompas 2D/3D
					h4.en Languages
					span.skill.en Russian (native)
					span.skill.en Ukrainian (native)
					span.skill.en English (B1)
					span.skill.en Lithuanian (B1, cert. II cat.)
					h4.lt.hidden Kalbos
					span.skill.lt.hidden Rūsų (gimtoji)
					span.skill.lt.hidden Ukrainiečių (gimtoji)
					span.skill.lt.hidden Anglų (B1)
					span.skill.lt.hidden Lietuvių (B1, II kat.)					
					
				section
					article#exp
						h2.en Work experience
						h2.lt.hidden Darbo patirtis
						dl
							//- LT
							dt.position.lt.hidden Technologas
							dd.posdescr.lt.hidden
								span.years 2016.10 - dabar
								span.company Umega Group, AB (UmegaAgro padalinys)
								span.country Lietuva, Utena
								span.description Technologinio proceso ir kokybės išlaikymo gamyboje užtikrinimas, produkcijos sertifikavimas pagal EU 167/2013 reglamentą, bandymai, darbas su brėžinių/dokumentacija, jų tvarkymas. Judėjimo sertifikato (EUR.1 formos) paruošimas.
							//- EN
							dt.position.en Technologist
							dd.posdescr.en
								span.years 2016.10 - Present
								span.company Umega Group, AB (UmegaAgro deprt.)
								span.country Lithuania, Utena
								span.description Technical documentation's preparation for vehicle sertification (EU reg. No. 167/2013); technical documentation creation and improvement, resolving of technical issues.
								
							//- LT
							dt.position.lt.hidden Rinkodaros paslaugų tiekėjas
							dd.posdescr.lt.hidden
								span.years 2013.08 - 2015.02
								span.company Nova Poshta, LLC
								span.country Ukraina, Poltava
								span.description Rinkodaros paslaugų ir kanceliarinių / pakavimo medžiagos tiekimas, pristatymo koordinacija. Tenderių organizavimas. Rebrendingo darbų koordinacija ir atliekimo priežiūrą (apie 2000 ofisų + mašinos). Įmonės logistikos schemos optimizavimas. 
							//- EN
							dt.position.en Procurement Manager
							dd.posdescr.en
								span.years 2013.08 - 2015.02
								span.company Nova Poshta, LLC
								span.country Ukraine, Poltava
								span.description.hidden Procurement and purchasing of consumable materials. Curation of branding / rebranding company's offices, warehouses, trucks, stationary, etc. Optimization of company's procurement scheme (logistics and accounting).
							//-.logo
							//- EN
							dt.position.en CG Designer
							dd.posdescr.en
								span.years 2009.04 - 2013.08
								span.company PrintShop "Format"
								span.country Ukraine, Poltava
								span.description.hidden Polygraphy design ang production; post-print working; web-design; damaged photo treatment.
							//- LT
							dt.position.lt.hidden Kompiuterinės grafikos dizaineris
							dd.posdescr.lt.hidden
								span.years 2009.04 - 2013.08
								span.company Spaustuvė "Format"
								span.country Ukraina, Poltava
								span.description Poligrafinės produkcijos maketavimas, paruošimas ir spaudos darbai; darbai po spaudinimo; svėtainių sukurimas.
								
							//-.logo
							//- EN
							dt.position.en Mechanics engineer
							dd.posdescr.en
								span.years 2007.09 - 2008.08
								span.company ProfSteel Project, LLC
								span.country Ukraine, Poltava
								span.description.en.hidden Assembling, installing and adjusting of metal profiling mills; Directing on equipment reconditioning.
							//- LT
							dt.position.lt.hidden Mechanikos inžinerius
							dd.posdescr.lt.hidden
								span.years 2007.09 - 2008.08
								span.company ProfSteel Project, LLC
								span.country Ukraina, Poltava
								span.description.lt Metalo profiliavimo įrangos surinkimas, montavimas ir derinimas; įmonės įrangos techninė priežiūrą ir remonto darbų organizavimas.
								
					article#educ
						h2.lt.hidden Išsilavinimas
						h2.en Education
						dl
							//- dt #[i.fa.fa-free-code-camp] freeCodeCamp
							//- dd
							//- 	span.spec Full Stack Web Development Certification (Software Dev.)
							//- 	span.years 2017 - now
							dt.en #[i.fa.fa-university] Kharkiv National University of Radio Electronics (KNURE)
							dd.en
								span.spec Bachelor of Software Engineering ( C# / Java / ASP.NET / Git / html5 + Pug.js / css3 + SCSS / EcmaScript / Gulp.js)
								span.years 2018 - now (grad. 2020)

							dt.lt.hidden #[i.fa.fa-university] Charkovo Nacionalinis Radijoelektronikos Universitetas
							dd.lt.hidden
								span.spec Programinės įrangos inžinerijos bakalauras ( C++ / C# / ASP.NET / SQL / Git / html5 / css3 / JavaScript / Gulp)
								span.years 2018 - dabar (baig. 2020)

							dt.en #[i.fa.fa-university] Poltava National Technical University
							dd.en
								span.spec Bachelor of Engineering (electromechanical automatization systems and electric drive)
								span.years 2002 - 2010

							dt.lt.hidden #[i.fa.fa-university] Poltavos Nacionalinis Techninis Universitetas
							dd.lt.hidden
								span.spec Elektromechanikos inžinerijos bakalauras (elektromechaniniės automatizavimo sistemos ir elektropavara)
								span.years 2002 - 2010

					article#cert
						h2 Certificates and accomplishments
						//- dl
						//- 	dt #[i.fa.fa-id-card-o] Adobe Photoshop CS3 specialist (Cert.Id: 231923)
						//- 	dd.place Baumann's Moscow State Technical College 
						//- 		span.years 2010
						dl
							dt.hidden #[i.fa.fa-id-card-o] Basic pneumatic brake systems and ABS systems for trucks and trailers
							dd.place.hidden WABCO academy / Vilnius
								span.years Apr. 2018 - Present
								
							dt #[i.fa.fa-id-card-o] The Complete JavaScript Course 2018
							dd.place by Jonas Schmedtmann
								span.years 2018
							dt #[i.fa.fa-id-card-o] The Web Developer Bootcamp
							dd.place by Colt Steele
								span.years 2018
					article#links
						a(href="https://www.linkedin.com/in/skydanenko/" target="_blank").externallink See more: https://www.linkedin.com/in/skydanenko
						//- details here on #[i.fa.fa-linkedin-square] LinkedIn #[i.fa.fa-external-link]
			//- footer 
		script(src="js/style.js")