<!DOCTYPE html>
html(lang="en")
	include head
	body
		#wrapper
			header
				#photo
				#info
					h1#name Dmytro Skydanenko
					#about
						h3 Motto
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ratione perferendis iure commodi excepturi non quidem maiores explicabo dignissimos sequi.
					#credits
			main
				aside
				section
			footer
		script(src="js/style.js")