DOCTYPE html
html(lang="en")
	include _head
	body
		#wrapper
			header
				#photo
					#profilephoto
				#info
					h1#name Dmytro Skydanenko
					#about
						p Position applied for:
						h3 Quality manager
						p (in Visaginas factory)
					#credits
						//-h3 Info
						span.cred.birth 1984/12
						span.cred.location Visaginas, LT
						//-h3 Contact me:					
						span.cred.cell +370 (657) 434 26 (LT)
						span.cred.cell +380 (67) 550 53 50 (UA)
						span.cred.email dmytro.skydanenko@gmail.com
						span.cred.skype skidann
			main
				aside
					h4 Skills
					span.skill CG design (vector/raster)
					span.skill Front-end development
					//- span.skill Bitmap CG
					//- span.skill Logo design
					//- span.skill CSS3 + Sass/SCSS
					//- span.skill HTML (5/strict) + Pug(ex. Jade)
					//- span.skill ES5/6 (Java Script)
					//- span.skill jQuery
					//- span.skill WP Rest API
					//- span.skill Gulp
					//- span.skill Node.js
					//- span.skill Internetinių puslapių sukurimas
					//- span.skill Kompiuterinė grafika
					span.skill Processes optimization
					h4 Software
					span.skill MS Office (Wd/Ex/Pp)
					span.skill Windows / Linux
					span.skill Adobe Photoshop
					span.skill Adobe Illustrator
					span.skill CorelDraw
					span.skill Autodesk Inventor
					span.skill SolidWorks
					span.skill Kompas 2D/3D
					h4 Languages
					span.skill Russian (native)
					span.skill Ukrainian (native)
					span.skill English (B1)
					span.skill Lithuanian (B1, cert. II cat.)
					
				section
					article#exp
						h2 Work experience
						dl
							//- LT
							dt.position.lt.hidden Technologas
							dd.posdescr.lt.hidden
								span.years 2016.10 - Present
								span.company Umega Group, AB (UmegaAgro padalinys)
								span.country Lithuania, Utena
								span.description Technologinio proceso ir kokybės išlaikymo gamyboje užtikrinimas, produkcijos sertifikavimas, bandymai, darbas su brėžinių/dokumentacija, jų tvarkymas.
							//- EN
							dt.position.en Technologist
							dd.posdescr.en
								span.years 2016.10 - Present
								span.company Umega Group, AB (UmegaAgro deprt.)
								span.country Lithuania, Utena
								span.description Technical documentation's preparation for product sertification according to EU regulation No. 167/2013; stability tests performing and stability sertification; technical documentation creation and improvement, resolving of technical issues.
								
							//- LT
							dt.position.lt.hidden Rinkodaros paslaugų tiekėjas
							dd.posdescr.lt.hidden
								span.years 2013.08 - 2015.02
								span.company Nova Poshta, LLC
								span.country Ukraine, Poltava
								span.description Tiekimo rinkodaros paslaugos, pristatymas priežiūra. Logistikos schemos optimizavimas. Buhalterinė apskaita.
							//- EN
							dt.position.en Procurement Manager
							dd.posdescr.en
								span.years 2013.08 - 2015.02
								span.company Nova Poshta, LLC
								span.country Ukraine, Poltava
								span.description Procurement and purchasing of consumable materials. Curation of branding / rebranding company's offices, warehouses, trucks, stationary, etc. Optimization of company's procurement scheme (logistics and accounting).
							//-.logo
							dt.position CG Designer
							dd.posdescr
								//- EN
								span.years.en 2009.04 - 2013.08
								span.company.en PrintShop "Format"
								span.country.en Ukraine, Poltava
								span.description.en Polygraphy design ang production; post-print working; web-design; damaged photo treatment.
								//- LT
								span.years.lt.hidden 2009.04 - 2013.08
								span.company.lt.hidden PrintShop "Format"
								span.country.lt.hidden Ukraine, Poltava
								span.description.lt.hidden Polygraphy design ang production; post-print working; web-design; damaged photo treatment.
								
							//-.logo
							dt.position Mechanics engineer
							dd.posdescr
								span.years 2007.09 - 2008.08
								span.company ProfSteel Project, LLC
								span.country Ukraine, Poltava
								//- span.description.lt.hidden Metalo profiliavimo įrangos surinkimas, montavimas ir reguliavimas; įmonės įrangos techninės priežiūros ir remonto paslaugų organizavimas.
								span.description.en Assembling, installing and adjusting of metal profiling mills; Directing on equipment reconditioning.
								
					article#educ
						h2.lt.hidden Išsilavinimas
						h2.en Education
						dl
							//- dt #[i.fa.fa-free-code-camp] freeCodeCamp
							//- dd
							//- 	span.spec Full Stack Web Development Certification (Software Dev.)
							//- 	span.years 2017 - now
							dt #[i.fa.fa-university] Poltava National Technical University
							dd
								span.spec Bachelor of Engineering (electromechanical automatization systems and electric drive)
								span.years 2002 - 2010
					article#cert
						h2 Certificates and accomplishments
						//- dl
						//- 	dt #[i.fa.fa-id-card-o] Adobe Photoshop CS3 specialist (Cert.Id: 231923)
						//- 	dd.place Baumann's Moscow State Technical College 
						//- 		span.years 2010
						dl
							dt #[i.fa.fa-id-card-o] Basic pneumatic brake systems and ABS systems for trucks and trailers
							dd.place WABCO academy 
								span.years Apr. 2018 - Present
			//-footer
		script(src="js/style.js")