/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 0; }

p, h1, h2, h3, h4, h5, h6, a, span, dt, dd {
  font-size: 3.5mm; }

html {
  font-size: 3.5mm; }

body {
  background-color: #c3c3c3;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAMAAABL52QCAAAABlBMVEXCw8Tp6uwFw7MwAAAAF0lEQVR4AWNgYAQCCMEAIoAQgkA8/LIABOwAKWIaZEkAAAAASUVORK5CYII=); }
  @media print {
    body {
      background-image: none;
      background-color: transparent; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  color: #10b0ca; }

h1 {
  font-weight: 200;
  font-size: 10.5mm;
  line-height: 17.5mm;
  text-indent: 3.5mm;
  /*@media print {
		color: $color-dark;
	}*/ }

h2 {
  font-weight: 700;
  font-size: 5mm;
  margin: 0 3.5mm;
  padding-top: 5.25mm;
  margin-left: 14mm;
  text-transform: uppercase; }

h3 {
  font-weight: 400;
  font-size: 5mm;
  margin: 0 3.5mm;
  border-bottom: .5mm solid;
  text-transform: uppercase; }

h4 {
  font-weight: 400;
  font-size: 4mm;
  margin: 0 3.5mm;
  text-transform: uppercase;
  padding-top: 2mm; }

p {
  font-family: "Roboto", sans-serif;
  text-indent: 3.5mm;
  line-height: 5.25mm;
  padding: 0 3.5mm;
  color: #3b4044; }

span {
  font-family: "Roboto", sans-serif;
  line-height: 5.25mm;
  color: #3b4044; }

dl {
  margin: 0 0 0 10.5mm; }

dt {
  font-weight: bold;
  padding: 3mm 0 0 0;
  font-family: "Raleway", sans-serif; }

dd {
  border-bottom: 0.1mm solid #a0a0a0;
  font-family: "Roboto", sans-serif; }
  dd:last-child {
    border-bottom: none; }

/* Main styles */
#wrapper {
  display: block;
  margin: 0 auto;
  width: 200mm;
  height: 277mm;
  background: #ebebeb;
  padding: 10mm;
  -webkit-box-shadow: 0 0 20mm rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20mm rgba(0, 0, 0, 0.3); }
  @media print {
    #wrapper {
      padding: 0;
      background-image: none;
      background-color: transparent;
      -webkit-box-shadow: none;
              box-shadow: none; } }

header, main, footer {
  display: inline-block;
  width: 200mm; }

#photo {
  display: inline-block;
  vertical-align: top;
  width: 265px;
  height: 265px;
  background-color: #3b4044;
  -webkit-border-top-left-radius: 50%;
          border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 50%;
          border-top-right-radius: 50%; }
  @media print {
    #photo {
      background-color: transparent; } }

#info {
  display: inline-block;
  vertical-align: top;
  width: 129mm;
  height: 60mm;
  overflow: hidden; }

#profilephoto {
  width: 60mm;
  height: 60mm;
  margin: 3mm;
  border-style: solid;
  border-width: 2mm;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border-color: #10b0ca;
  background-color: #3b4044;
  background-image: url(../img/profile3.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  image-rendering: -webkit-optimize-contrast;
  -webkit-box-shadow: 0 0 8mm rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 8mm rgba(0, 0, 0, 0.4);
  /*@media print {
		background-color: transparent;
		border: 2mm solid #afafaf;
		box-shadow: none;
	}*/ }

#about, #credits {
  display: inline-block;
  vertical-align: top;
  width: 59mm; }

#credits {
  width: 70mm; }

.cred {
  display: block;
  position: relative;
  margin-left: 10.5mm;
  line-height: 7mm; }

.birth::before {
  content: '\f1fd';
  font-family: FontAwesome;
  font-size: 4mm;
  text-align: center;
  position: absolute;
  width: 7mm;
  height: 7mm;
  top: 0;
  left: -7mm;
  color: #10b0ca; }

.location::before {
  content: '\f041';
  font-family: FontAwesome;
  font-size: 6mm;
  text-align: center;
  position: absolute;
  width: 7mm;
  height: 7mm;
  top: 0;
  left: -7mm;
  color: #10b0ca; }

.cell::before {
  content: '\f10b';
  font-family: FontAwesome;
  font-size: 6mm;
  text-align: center;
  position: absolute;
  width: 7mm;
  height: 7mm;
  top: 0;
  left: -7mm;
  color: #10b0ca; }

.email::before {
  content: '\f1fa';
  font-family: FontAwesome;
  font-size: 5mm;
  text-align: center;
  position: absolute;
  width: 7mm;
  height: 7mm;
  top: 0;
  left: -7mm;
  color: #10b0ca; }

.skype::before {
  content: '\f17e';
  font-family: FontAwesome;
  font-size: 5mm;
  text-align: center;
  position: absolute;
  width: 7mm;
  height: 7mm;
  top: 0;
  left: -7mm;
  color: #10b0ca; }

main {
  height: 200mm;
  color: #3b4044; }

aside {
  display: inline-block;
  vertical-align: top;
  width: 265px;
  height: 212mm;
  background-color: #3b4044; }
  @media print {
    aside {
      background-color: transparent; } }

.skill {
  display: block;
  position: relative;
  margin-left: 10.5mm;
  line-height: 7mm;
  color: #c3c3c3; }
  @media print {
    .skill {
      color: #3b4044; } }

.skill {
  position: relative; }
  .skill::before {
    content: '\f244';
    font-family: FontAwesome;
    font-size: 3mm;
    text-align: center;
    position: absolute;
    width: 10.5mm;
    height: 10.5mm;
    top: 0;
    left: -8.75mm;
    color: #10b0ca; }

.full::before {
  content: '\f240'; }

.three-quarters::before {
  content: '\f241'; }

.half::before {
  content: '\f242'; }

.one-quarter::before {
  content: '\f243'; }

/*.ru, .ua, .en, .lt {
	margin-left: $basic * 4;
}*/
section {
  display: inline-block;
  vertical-align: top;
  width: 129mm;
  margin-top: -80px; }

#exp h2 {
  position: relative; }
  #exp h2::before {
    content: '\f0b1';
    font-family: FontAwesome;
    font-size: 6mm;
    text-align: center;
    position: absolute;
    width: 10.5mm;
    height: 10.5mm;
    padding-top: 5.25mm;
    top: 0;
    left: -10.5mm;
    color: #10b0ca; }

#objective h2 {
  position: relative; }
  #objective h2::before {
    content: '\f192';
    font-family: FontAwesome;
    font-size: 6mm;
    text-align: center;
    position: absolute;
    width: 10.5mm;
    height: 10.5mm;
    padding-top: 5.25mm;
    top: 0;
    left: -10.5mm;
    color: #10b0ca; }

.objhead, .objdesc {
  display: inline-block;
  margin: 0 0 0 10.5mm; }

.objhead {
  font-weight: bold;
  font-family: "Raleway", sans-serif; }

.blockpos {
  display: block; }

/*.logo {
	width: $basic * 4;
	display: inline-block;
	vertical-align: top;
	height: $basic * 4;
	background: $color-main;
}*/
.position {
  display: inline-block;
  vertical-align: top;
  font-size: 5.25mm; }

.company {
  font-style: italic;
  font-weight: bold;
  display: inline-block;
  vertical-align: top; }

.period {
  display: inline-block;
  vertical-align: top; }

.description {
  display: inline-block;
  vertical-align: top; }

.country {
  margin-left: 5.25mm;
  display: inline-block;
  vertical-align: top;
  position: relative;
  color: #a0a0a0; }
  .country::before {
    content: '\f041';
    font-family: FontAwesome;
    font-size: 5mm;
    text-align: center;
    position: absolute;
    width: 3.5mm;
    height: 3.5mm;
    top: 0;
    left: -4.375mm; }

#educ h2 {
  position: relative; }
  #educ h2::before {
    content: '\f19d';
    font-family: FontAwesome;
    font-size: 6mm;
    text-align: center;
    position: absolute;
    width: 10.5mm;
    height: 10.5mm;
    padding-top: 5.25mm;
    top: 0;
    left: -10.5mm;
    color: #10b0ca; }

#cert h2 {
  position: relative; }
  #cert h2::before {
    content: '\f0a3';
    font-family: FontAwesome;
    font-size: 6mm;
    text-align: center;
    position: absolute;
    width: 10.5mm;
    height: 10.5mm;
    padding-top: 5.25mm;
    top: 0;
    left: -10.5mm;
    color: #10b0ca; }

.place, .valid {
  display: block; }

.years {
  color: #a0a0a0;
  padding: 0 1em; }

footer {
  height: 16.9mm;
  background-color: #10b0ca;
  color: #ebebeb; }

#links {
  padding: 1.75mm 0 3.5mm 0;
  text-align: right; }

.externallink {
  display: inline-block;
  color: #a0a0a0;
  font-family: "Raleway", sans-serif;
  font-size: 4.2mm;
  text-decoration: none;
  -webkit-transition: color, .3s;
  -o-transition: color, .3s;
  transition: color, .3s; }
  .externallink:hover {
    color: #10b0ca; }
  @media print {
    .externallink {
      color: #10b0ca; } }

.hidden {
  display: none; }
