// VARIABLES
$basic: 3.5mm;
$test: 1px dashed red;
$color-dark: #3b4044;
$color-main: #10b0ca; //#10b0ca
$color-light: #c3c3c3;
$color-bg: #ebebeb;
$color-neutral: #a0a0a0;
$color-contrast: #da4453;
$bg-img: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAMAAABL52QCAAAABlBMVEXCw8Tp6uwFw7MwAAAAF0lEQVR4AWNgYAQCCMEAIoAQgkA8/LIABOwAKWIaZEkAAAAASUVORK5CYII=);
$font-heading: 'Raleway', sans-serif;
$font-usual: 'Roboto', sans-serif;