/* Main styles */


#wrapper {
	display: block;
	margin: 0 auto;
	width: 190mm;
	height: 277mm;
	background: $color-bg;
	outline: $test;
	padding: 10mm;
	@media print {
		padding: 0;
		background-image: none;
		background-color: transparent;
	}
}

header, main, footer {
	display: inline-block;
	width: 180mm;
	margin-left: 10mm;
	outline: $test;
}

#photo {
	display: inline-block;
	vertical-align: top;
	width: 60mm;
	height: 60mm;
	outline: $test;
}
#info {
	display: inline-block;
	vertical-align: top;
	width: 120mm;
	height: 60mm;
	outline: $test;
}
//#name {}
#about, #credits {
	display: inline-block;
	vertical-align: top;
	width: 60mm;
	outline: $test;
}